.h1 {
  font-family : sans-serif;
}

body {
  text-align : center;
}

.img {
    background-image : url("./Properties/batman.png");
    height: 700px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
