.h1 {
  font-family : sans-serif;
}

body {
  text-align : center;
}

.img { 
    height : 100hv;
    background: url(./Properties/batman.png);
    background-size: cover;
    align-items : center;
    justify-content : center;
}
