body  {
    text-align : center;
    background-image:url=('https://github.com/PushparajNule/Mark-1/blob/01aad88839e18725a47717112b347c7ffce8c4b7/Properties/batman.png');
    background-size : cover;
}

#h1 {
    font-family : sans-serif;
}

